# .env.sample - Sample Environment Variables for Frontend (Vite)

# Backend API URL (call it in React with import.meta.env.VITE_BACKEND_URL)
VITE_BACKEND_URL=my_url

# Other Environment Variables (if needed)

VITE_API_KEY=my_API_KEY
VITE_AUTH_DOMAIN=my_AUTH_DOMAIN
VITE_PROJECT_ID=my_PROJECT_ID
VITE_STORAGE_BUCKET=my_STORAGE_BUCKET
VITE_MESSAGING_SENDER_ID=my_MESSAGING_SENDER_ID
VITE_APP_ID=my_APP_ID