.videoUserComponent {
  color: white;
  width: 31vw;

  &__oneVideo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;

    &__videoInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1%;
      &__titleAndButton {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;

        &__buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 1%;

          &__singleButton {
            margin: 5%;
            width: 6rem;
          }

          &__singleButton:hover {
            background-color: #20212f;
          }
        }
      }
    }
  }
}
.videoUserComponent__oneVideo__videoInfo__titleAndButton h3{
  width: 30vw;
}

#componentTitle {
  margin-left: 2%;
}
#videoTitle {
  margin-bottom: 1%;
  border: solid red;
}

#miniature {
  border-radius: 15px;
}

@media screen and (max-width: 1000px) {
  .videoUserComponent {
    width: 100%;
    &__oneVideo {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__videoInfo {
        width: 100%;
      }
    }
  }

  #miniature {
    width: 100%;
  }
}
