.searchBarHidden {
    display: none;
}

.searchBarPage {
    width: 100%;  

    &__searchBar {
        width: 100%;
        border-radius: 0;
        height: 80px;
        background: linear-gradient(#727DBA, #3F4C67);
        color: white;
    font-size: 30pt;
    }
    
    &__searchBar::placeholder {
    font-weight:bolder;
    color: white;
    font-size: 30pt;
    margin: 3%;
    line-height: normal;
    margin: 20px
    }

    &__propositionEmpty {
        display: none;
    }
    
    &__propositions {
        display: flex;
        flex-direction: column;

        &__li {
            background-color: rgb(63, 76, 103, 0.7);
            border: 2px solid #20212f;
            height: 16px;
        }
    }
}



