@import "../../Utiles/mixins";

.navmobile {
  background-color: rgb(2, 2, 2);
  width: 100%;
  bottom: 0;
  @include inline-block;
  justify-content: space-around;
  height: fit-content;
  padding: 2%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.aLink {
  width: fit-content;
}
.icon {
  width: 2.5rem;
}

.imgProfilMobil{
  height: 3rem;
  width: 10%;
  background-color: black;
}
.logoutMobil{
  background-color: black;
  height: 8vw;
  width: fit-content;
}
@media screen and (min-width: 1000px) {
  .navmobile {
    display: none;
  }
}
