body {
  background-color: #20212f;
  font-family: SpaceGrotesque, verdana;
}

.inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.inscription__mainElement {
  display: flex;
  box-shadow: 2px 5px 50px black;
  border-radius: 10px;
  max-height: 80vh;
  position: fixed;
  left: 50%;
  top: 12%;
  translate: -50%;
  height: 100%;
}
.inscription__mainElement__OkMessage {
  display: none;
}
.inscription__mainElement__notOkMessage {
  text-align: center;
}
.inscription__mainElement__desktopImg {
  max-width: 50%;
  max-height: 100vh;
  border-radius: 10px 0px 0px 10px;
}
.inscription__mainElement__mobileImg {
  display: none;
}
.inscription__mainElement__formConteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}
.inscription__mainElement__formConteneur__title {
  background-color: #454766;
  width: 100%;
  text-align: center;
  border-radius: 0px 10px 0px 0px;
  font-family: SpaceGrotesque, verdana;
  font-size: 18pt;
}
.inscription__mainElement__formConteneur__formulaire::-webkit-scrollbar {
  width: 0;
}
.inscription__mainElement__formConteneur__formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
  max-height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.inscription__mainElement__formConteneur__formulaire__range {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4%;
}
.inscription__mainElement__formConteneur__formulaire__range__limitRange {
  margin: 1%;
}
.inscription__mainElement__formConteneur__formulaire__avatar {
  padding: 2%;
  margin-top: 3vh;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 1%;
}
.inscription__mainElement__formConteneur__formulaire__avatar input {
  width: 100%;
  height: 100%;
}
.inscription__mainElement__formConteneur__formulaire__avatarTitle {
  margin-top: 3vh;
}
.inscription__mainElement__formConteneur__formulaire__button {
  margin: 4%;
  background: linear-gradient(#454766 10px, #20212f);
  cursor: pointer;
  background-color: #454766;
  border: none;
  border-radius: 4px;
  height: 35px;
  color: white;
  font-size: 15pt;
  font-weight: bolder;
}

label {
  margin-bottom: 2%;
}

input {
  background-color: #454766;
  border: none;
  border-radius: 4px;
  height: 30px;
  color: white;
}

@media screen and (max-width: 750px) {
  .inscription__mainElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px black;
    position: relative;
  }
  .inscription__mainElement__desktopImg {
    display: none;
  }
  .inscription__mainElement__mobileImg {
    display: flex;
    justify-content: center;
  }
  .inscription__mainElement__formConteneur__title {
    display: none;
    width: 100%;
  }
  .inscription__mainElement__formConteneur__formulaire {
    width: 80%;
  }
  .inscription__mainElement__formConteneur__formulaire__range {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4%;
  }
  .inscription__mainElement input {
    height: 6vh;
    width: 70vw;
  }
} /*# sourceMappingURL=inscription.module.css.map */
