$mainFont: SpaceGrotesque, verdana;
$backgroundColor: #20212f;
$inputColor: #454766;

body {
  background-color: #20212f;
  font-family: $mainFont;
}

.inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &__mainElement {
    display: flex;
    box-shadow: 2px 5px 50px black;
    border-radius: 10px;
    max-height: 80vh;
    position: fixed;
    left: 50%;
    top: 12%;
    translate: -50%;
    height: 100%;

    &__OkMessage {
      display: none;
    }

    &__notOkMessage {
      text-align: center;
    }

    &__desktopImg {
      max-width: 50%;
      max-height: 100vh;
      border-radius: 10px 0px 0px 10px;
    }

    &__mobileImg {
      display: none;
    }

    &__formConteneur {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 50%;

      &__title {
        background-color: $inputColor;
        width: 100%;
        text-align: center;
        border-radius: 0px 10px 0px 0px;
        font-family: $mainFont;
        font-size: 18pt;
      }

      &__formulaire::-webkit-scrollbar {
        width: 0;
      }

      &__formulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vh;
        max-height: 100%;
        overflow: auto;
        -ms-overflow-style: none; // IE 10+
        overflow: -moz-scrollbars-none; // Firefox

        &__range {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 4%;

          &__limitRange {
            margin: 1%;
          }
        }

        &__avatar {
          padding: 2%;
          margin-top: 3vh;
          display: grid;
          grid-template: 1fr 1fr / 1fr 1fr;
          gap: 1%;
          input {
            width: 100%;
            height: 100%;
          }
        }

        &__avatarTitle {
          margin-top: 3vh;
        }

        &__button {
          margin: 4%;
          background: linear-gradient($inputColor 10px, $backgroundColor);
          cursor: pointer;
          background-color: $inputColor;
          border: none;
          border-radius: 4px;
          height: 35px;
          color: white;
          font-size: 15pt;
          font-weight: bolder;
        }
      }
    }
  }
}

label {
  margin-bottom: 2%;
}

input {
  background-color: $inputColor;
  border: none;
  border-radius: 4px;
  height: 30px;
  color: white;
}

@media screen and (max-width: 750px) {
  .inscription__mainElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px black;
    position: relative;

    &__desktopImg {
      display: none;
    }

    &__mobileImg {
      display: flex;
      justify-content: center;
    }

    &__formConteneur__title {
      display: none;
      width: 100%;
    }
    &__formConteneur__formulaire {
      width: 80%;

      &__range {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 4%;
      }
    }
    input {
      height: 6vh;
      width: 70vw;
    }
  }
}
